*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
#containerImg{
  height:100vh;
  width: 50%;
  padding:4px;
  position: relative;
}
#containerImg h1{
  position:absolute;
  top:5%;
  left:18%;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: #fff;
  font-size:2.8rem;
}

  #containerImg img{
     height: 100%;
     width: 100%;
  }

  #itemImg{
    height:100vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 3rem;
  }
  #itemImg img{
      height: 200px;
      width: 200px;
      margin: 0 2rem;
  }
  @media screen and ((min-width:833px) and (max-width:1155px)){
  
    #itemImg img{
      height: 150px;
      width: 150px;
      margin: 0 1rem;
  }
#containerImg h1{
   font-size: 2rem;
}
   }
   @media screen and ((min-width:520px) and (max-width:832px)){
    .wrapper{
      flex-direction: column-reverse;
      }
      #containerImg{
        width: 100%;
        height: 50vh;
      }
      #itemImg{
        width: 100%;
        height: 50vh;
      flex-wrap: nowrap;
      gap: 1rem;
      }
  
      #containerImg h1{
        font-size: 1.5rem;
     }
     #itemImg img{
      height: 70px;
      width: 70px;
      margin: 0 10px;
  }
   }
 @media screen and ((min-width:320px) and (max-width:520px)){
  .wrapper{
    flex-direction: column-reverse;
    }
    #containerImg{
      width: 100%;
      height: 50vh;
    }
    #itemImg{
      width: 100%;
      height: 50vh;
      flex-wrap: nowrap;
      gap:0;
    }

    #containerImg h1{
      font-size: 1.5rem;
   }
   #itemImg img{
    height: 60px;
    width: 60px;
    margin: 0 10px;
}


 }
